Workshop1NodeREDFlow2
[{"id":"86bb5501.1d34b8","type":"inject","z":"7857bd0f.c8a30c","name":"{     \"LEDAddress\": 1,     \"Red\": 255,     \"Green\": 0,     \"Blue\": 100 }","topic":"","payload":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":120,"wires":[["2e6b3f54.7205b"]]},{"id":"2e6b3f54.7205b","type":"debug","z":"7857bd0f.c8a30c","name":"","active":true,"console":"false","complete":"false","x":650,"y":300,"wires":[]},{"id":"b2a2f7f.f1c6808","type":"inject","z":"7857bd0f.c8a30c","name":"{\"Red\":255,\"Green\":0,\"Blue\":100}","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":270,"y":180,"wires":[["2e6b3f54.7205b"]]},{"id":"7b4f1e60.e1b41","type":"inject","z":"7857bd0f.c8a30c","name":"{\"Red\":0,\"Green\":0,\"Blue\":0}","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":240,"wires":[["2e6b3f54.7205b"]]},{"id":"3b171bdb.9fc9b4","type":"ibmiot out","z":"7857bd0f.c8a30c","authentication":"quickstart","outputType":"","deviceId":"","deviceType":"","eventCommandType":"","format":"","data":"","qos":0,"name":"IBM IoT","service":"","x":680,"y":140,"wires":[]},{"id":"409a6ba5.1febfc","type":"trigger","z":"7857bd0f.c8a30c","op1":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"1","extend":false,"units":"s","reset":"","name":"","x":340,"y":400,"wires":[["2e6b3f54.7205b","3b171bdb.9fc9b4"]]},{"id":"2932be67.b20d22","type":"inject","z":"7857bd0f.c8a30c","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":170,"y":400,"wires":[["409a6ba5.1febfc"]]}]
