Workshop1NodeREDFlow1
[{"id":"86bb5501.1d34b8","type":"inject","z":"7857bd0f.c8a30c","name":"{     \"LEDAddress\": 1,     \"Red\": 255,     \"Green\": 0,     \"Blue\": 100 }","topic":"","payload":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":120,"wires":[["2e6b3f54.7205b","3b171bdb.9fc9b4"]]},{"id":"2e6b3f54.7205b","type":"debug","z":"7857bd0f.c8a30c","name":"","active":true,"console":"false","complete":"false","x":650,"y":300,"wires":[]},{"id":"b2a2f7f.f1c6808","type":"inject","z":"7857bd0f.c8a30c","name":"{\"Red\":255,\"Green\":0,\"Blue\":100}","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":270,"y":180,"wires":[["2e6b3f54.7205b","3b171bdb.9fc9b4"]]},{"id":"7b4f1e60.e1b41","type":"inject","z":"7857bd0f.c8a30c","name":"{\"Red\":0,\"Green\":0,\"Blue\":0}","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":240,"wires":[["2e6b3f54.7205b","3b171bdb.9fc9b4"]]},{"id":"3b171bdb.9fc9b4","type":"ibmiot out","z":"7857bd0f.c8a30c","authentication":"quickstart","outputType":"","deviceId":"","deviceType":"","eventCommandType":"","format":"","data":"","qos":0,"name":"IBM IoT","service":"","x":680,"y":140,"wires":[]}]
