Workshop2NodeREDFlow1
[{"id":"9dae15ad.398488","type":"twitter in","z":"8e5180.0011ae8","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":210,"y":1060,"wires":[[]]},{"id":"fdd475d.9c80108","type":"debug","z":"8e5180.0011ae8","name":"","active":false,"console":"false","complete":"false","x":970,"y":200,"wires":[]},{"id":"5f73fbb9.ffd67c","type":"inject","z":"8e5180.0011ae8","name":"All Purple","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":280,"wires":[["db81d53e.30479"]]},{"id":"7a3551e8.12bc18","type":"inject","z":"8e5180.0011ae8","name":"All Off","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":320,"wires":[["db81d53e.30479"]]},{"id":"fcb7f1d1.309948","type":"trigger","z":"8e5180.0011ae8","op1":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Purple","x":530,"y":480,"wires":[["391e41db.d99e3e"]]},{"id":"752d93f9.bd8cfc","type":"inject","z":"8e5180.0011ae8","name":"Send Repeating Message","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":300,"y":480,"wires":[[]]},{"id":"701eb579.3a07ec","type":"ibmiot out","z":"8e5180.0011ae8","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"IoTWorkshopDevice","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT Out","service":"registered","x":970,"y":240,"wires":[]},{"id":"fe95a822.b9263","type":"ibmiot in","z":"8e5180.0011ae8","authentication":"apiKey","apiKey":"","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"IoTWorkshopDevice","applicationId":"","deviceType":"wemos","eventType":"+","commandType":"","format":"json","name":"IBM IoT In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":true,"qos":0,"x":960,"y":360,"wires":[["d28f844d.133528"]]},{"id":"d28f844d.133528","type":"debug","z":"8e5180.0011ae8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":360,"wires":[]},{"id":"a3946123.2eea2","type":"inject","z":"8e5180.0011ae8","name":"Addressing an LED","topic":"","payload":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":380,"wires":[["db81d53e.30479"]]},{"id":"350b14ef.140484","type":"inject","z":"8e5180.0011ae8","name":"All Red","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":160,"wires":[["db81d53e.30479"]]},{"id":"21f2c7b2.cb3c1","type":"inject","z":"8e5180.0011ae8","name":"All Green","topic":"","payload":"{\"Red\":0,\"Green\":255,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":200,"wires":[["db81d53e.30479"]]},{"id":"7a6df76a.cc15b8","type":"inject","z":"8e5180.0011ae8","name":"All Blue","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":240,"wires":[["db81d53e.30479"]]},{"id":"ddb40bcb.49ef7","type":"comment","z":"8e5180.0011ae8","name":"Some simple messages","info":"","x":260,"y":120,"wires":[]},{"id":"bd1ea013.6638a8","type":"pushbullet in","z":"8e5180.0011ae8","config":"485b84e2.30da14","name":"","x":220,"y":600,"wires":[["374628c.5c9b4d8","9ba5f2d0.084ee8"]]},{"id":"374628c.5c9b4d8","type":"debug","z":"8e5180.0011ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":600,"wires":[]},{"id":"9ba5f2d0.084ee8","type":"switch","z":"8e5180.0011ae8","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"blue","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":660,"wires":[["8a9ad711.dd9c8"],["233334ee.caf7ac"],["20593290.e2f87e"]]},{"id":"8a9ad711.dd9c8","type":"template","z":"8e5180.0011ae8","name":"Red","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"Red\":255,\n    \"Green\":0,\n    \"Blue\":0\n}","output":"json","x":650,"y":620,"wires":[["3f237211.93a036"]]},{"id":"233334ee.caf7ac","type":"template","z":"8e5180.0011ae8","name":"Green","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"Red\":0,\n    \"Green\":255,\n    \"Blue\":0\n}","output":"json","x":650,"y":660,"wires":[["3f237211.93a036"]]},{"id":"20593290.e2f87e","type":"template","z":"8e5180.0011ae8","name":"Blue ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"Red\":0,\n    \"Green\":0,\n    \"Blue\":255\n}","output":"json","x":650,"y":700,"wires":[["3f237211.93a036"]]},{"id":"fc23830e.183438","type":"comment","z":"8e5180.0011ae8","name":"This is just a way to test to see what our device is receiving","info":"","x":1110,"y":320,"wires":[]},{"id":"9393c0c9.40f278","type":"function","z":"8e5180.0011ae8","name":"Generate Random Colours","func":"msg.red = Math.floor((Math.random() * 256) + 0);\nmsg.green = Math.floor((Math.random() * 256) + 0);\nmsg.blue = Math.floor((Math.random() * 256) + 0);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":820,"wires":[["5a10ede5.77cd24"]]},{"id":"189ca098.75e397","type":"inject","z":"8e5180.0011ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":820,"wires":[[]]},{"id":"5a10ede5.77cd24","type":"template","z":"8e5180.0011ae8","name":"Format output using a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"Red\":{{red}},\n    \"Green\":{{green}},\n    \"Blue\":{{blue}}\n}","output":"str","x":750,"y":820,"wires":[["4dd9ba62.3f841c"]]},{"id":"b774cc98.20903","type":"comment","z":"8e5180.0011ae8","name":"Make the strip display a random colour","info":"","x":290,"y":780,"wires":[]},{"id":"c0dd20dd.e16e48","type":"function","z":"8e5180.0011ae8","name":"Generate Random Colours and LED Address","func":"msg.red = Math.floor((Math.random() * 256) + 0);\nmsg.green = Math.floor((Math.random() * 256) + 0);\nmsg.blue = Math.floor((Math.random() * 256) + 0);\nmsg.LEDAddress = Math.floor((Math.random() * 3) + 1);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":920,"wires":[["381b0eb7.b56f62"]]},{"id":"381b0eb7.b56f62","type":"template","z":"8e5180.0011ae8","name":"Format output using a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"Red\":{{red}},\n    \"Green\":{{green}},\n    \"Blue\":{{blue}},\n    \"LEDAddress\":{{LEDAddress}}\n}","output":"str","x":850,"y":920,"wires":[["25aea33f.9c66cc"]]},{"id":"8731e7ed.bf948","type":"comment","z":"8e5180.0011ae8","name":"Make one random LED display a random colour ","info":"","x":320,"y":880,"wires":[]},{"id":"abf0458e.9bdba","type":"comment","z":"8e5180.0011ae8","name":"Control the LEDs via push notifications from a mobile","info":"","x":360,"y":560,"wires":[]},{"id":"89f716d.aeb9e68","type":"comment","z":"8e5180.0011ae8","name":"Make the LEDS Flash!","info":"","x":260,"y":440,"wires":[]},{"id":"276ba903.038b06","type":"link in","z":"8e5180.0011ae8","name":"IoT Out Connection","links":["db81d53e.30479","391e41db.d99e3e","3f237211.93a036","4dd9ba62.3f841c","25aea33f.9c66cc","cf800324.582a1"],"x":815,"y":220,"wires":[["fdd475d.9c80108","701eb579.3a07ec"]]},{"id":"db81d53e.30479","type":"link out","z":"8e5180.0011ae8","name":"Simple","links":["276ba903.038b06"],"x":455,"y":260,"wires":[]},{"id":"391e41db.d99e3e","type":"link out","z":"8e5180.0011ae8","name":"","links":["276ba903.038b06"],"x":695,"y":480,"wires":[]},{"id":"3f237211.93a036","type":"link out","z":"8e5180.0011ae8","name":"","links":["276ba903.038b06"],"x":880,"y":660,"wires":[]},{"id":"4dd9ba62.3f841c","type":"link out","z":"8e5180.0011ae8","name":"","links":["276ba903.038b06"],"x":955,"y":820,"wires":[]},{"id":"25aea33f.9c66cc","type":"link out","z":"8e5180.0011ae8","name":"","links":["276ba903.038b06"],"x":1035,"y":920,"wires":[]},{"id":"a1dfeb0.3eab318","type":"comment","z":"8e5180.0011ae8","name":"This is our connection out to the IoT platform","info":"","x":1070,"y":160,"wires":[]},{"id":"1ce6fb74.4eae55","type":"trigger","z":"8e5180.0011ae8","op1":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":0}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Red","x":520,"y":1060,"wires":[[]]},{"id":"9035d6e4.0f59","type":"trigger","z":"8e5180.0011ae8","op1":"{\"LEDAddress\":1,\"Red\":0,\"Green\":255,\"Blue\":0}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Green","x":530,"y":1100,"wires":[[]]},{"id":"b8f68264.054e78","type":"trigger","z":"8e5180.0011ae8","op1":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":255}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Blue","x":530,"y":1140,"wires":[[]]},{"id":"96a7f00d.0de4d8","type":"comment","z":"8e5180.0011ae8","name":"Can you make an LED flash when a tweet about particular topic is sent?","info":"","x":410,"y":1020,"wires":[]},{"id":"cf800324.582a1","type":"link out","z":"8e5180.0011ae8","name":"","links":["276ba903.038b06"],"x":775,"y":1100,"wires":[]}]
