Workshop2NodeREDFlow1
[{"id":"2e6b3f54.7205b","type":"debug","z":"7857bd0f.c8a30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":200,"wires":[]},{"id":"b2a2f7f.f1c6808","type":"inject","z":"7857bd0f.c8a30c","name":"All Purple","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":280,"wires":[["4ba426e3.7521"]]},{"id":"7b4f1e60.e1b41","type":"inject","z":"7857bd0f.c8a30c","name":"All Off","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":320,"wires":[["4ba426e3.7521"]]},{"id":"409a6ba5.1febfc","type":"trigger","z":"7857bd0f.c8a30c","op1":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Purple","x":530,"y":480,"wires":[["202a1aee.ac176e"]]},{"id":"2932be67.b20d22","type":"inject","z":"7857bd0f.c8a30c","name":"Send Repeating Message","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":false,"onceDelay":"","x":300,"y":480,"wires":[[]]},{"id":"e5103405.fa8048","type":"ibmiot out","z":"7857bd0f.c8a30c","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"IoTWorkshopDevice","deviceType":"0.19.5","eventCommandType":"command","format":"json","data":"{}","qos":0,"name":"IBM IoT Out","service":"quickstart","x":970,"y":240,"wires":[]},{"id":"8da0768a.2d9318","type":"ibmiot in","z":"7857bd0f.c8a30c","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IoTWorkshopDevice","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":true,"qos":0,"x":960,"y":360,"wires":[["3fc07b36.85eb1c"]]},{"id":"3fc07b36.85eb1c","type":"debug","z":"7857bd0f.c8a30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":360,"wires":[]},{"id":"f2a3d6fa.115ac8","type":"inject","z":"7857bd0f.c8a30c","name":"Addressing an LED","topic":"","payload":"{\"LEDAddress\":1,\"Red\":255,\"Green\":0,\"Blue\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":380,"wires":[["4ba426e3.7521"]]},{"id":"7f72cfe9.fbcca","type":"inject","z":"7857bd0f.c8a30c","name":"All Red","topic":"","payload":"{\"Red\":255,\"Green\":0,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":160,"wires":[["4ba426e3.7521"]]},{"id":"5945f388.cd4134","type":"inject","z":"7857bd0f.c8a30c","name":"All Green","topic":"","payload":"{\"Red\":0,\"Green\":255,\"Blue\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":200,"wires":[["4ba426e3.7521"]]},{"id":"874bb70a.33319","type":"inject","z":"7857bd0f.c8a30c","name":"All Blue","topic":"","payload":"{\"Red\":0,\"Green\":0,\"Blue\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":240,"wires":[["4ba426e3.7521"]]},{"id":"3d88a90e.cdb9ee","type":"comment","z":"7857bd0f.c8a30c","name":"Some simple messages","info":"","x":260,"y":120,"wires":[]},{"id":"cfbc4b2f.c3f2a","type":"comment","z":"7857bd0f.c8a30c","name":"This is just a way to test to see what our device is receiving","info":"","x":1110,"y":320,"wires":[]},{"id":"575b79f8.f07c2","type":"function","z":"7857bd0f.c8a30c","name":"Generate Random Colours","func":"msg.red = Math.floor((Math.random() * 256) + 0);\nmsg.green = Math.floor((Math.random() * 256) + 0);\nmsg.blue = Math.floor((Math.random() * 256) + 0);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["6054be68.5a3008"]]},{"id":"5818b2c3.dbe2e4","type":"inject","z":"7857bd0f.c8a30c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":620,"wires":[[]]},{"id":"6054be68.5a3008","type":"template","z":"7857bd0f.c8a30c","name":"Format output using a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"Red\":{{red}},\n    \"Green\":{{green}},\n    \"Blue\":{{blue}}\n}","output":"str","x":770,"y":620,"wires":[["dff08de1.6cf978"]]},{"id":"67f9ccca.bb6b94","type":"comment","z":"7857bd0f.c8a30c","name":"Make the strip display a random colour","info":"","x":310,"y":580,"wires":[]},{"id":"a404adf5.168998","type":"function","z":"7857bd0f.c8a30c","name":"Generate Random Colours and LED Address","func":"msg.red = Math.floor((Math.random() * 256) + 0);\nmsg.green = Math.floor((Math.random() * 256) + 0);\nmsg.blue = Math.floor((Math.random() * 256) + 0);\nmsg.LEDAddress = Math.floor((Math.random() * 3) + 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":720,"wires":[["2a1249ff.91af36"]]},{"id":"2a1249ff.91af36","type":"template","z":"7857bd0f.c8a30c","name":"Format output using a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"Red\":{{red}},\n    \"Green\":{{green}},\n    \"Blue\":{{blue}},\n    \"LEDAddress\":{{LEDAddress}}\n}","output":"str","x":870,"y":720,"wires":[["20c3d1d0.570306"]]},{"id":"979decd.6dfd09","type":"comment","z":"7857bd0f.c8a30c","name":"Make one random LED display a random colour ","info":"","x":340,"y":680,"wires":[]},{"id":"f919c06.4f8e6c","type":"comment","z":"7857bd0f.c8a30c","name":"Make the LEDS Flash!","info":"","x":260,"y":440,"wires":[]},{"id":"d445e7f1.e5bd68","type":"link in","z":"7857bd0f.c8a30c","name":"IoT Out Connection","links":["4ba426e3.7521","202a1aee.ac176e","973279c.45d5e88","dff08de1.6cf978","20c3d1d0.570306","4013ca4.342c134"],"x":815,"y":220,"wires":[["2e6b3f54.7205b","e5103405.fa8048"]]},{"id":"4ba426e3.7521","type":"link out","z":"7857bd0f.c8a30c","name":"Simple","links":["d445e7f1.e5bd68"],"x":455,"y":260,"wires":[]},{"id":"202a1aee.ac176e","type":"link out","z":"7857bd0f.c8a30c","name":"","links":["d445e7f1.e5bd68"],"x":695,"y":480,"wires":[]},{"id":"dff08de1.6cf978","type":"link out","z":"7857bd0f.c8a30c","name":"","links":["d445e7f1.e5bd68"],"x":975,"y":620,"wires":[]},{"id":"20c3d1d0.570306","type":"link out","z":"7857bd0f.c8a30c","name":"","links":["d445e7f1.e5bd68"],"x":1055,"y":720,"wires":[]},{"id":"cc21703b.0c132","type":"comment","z":"7857bd0f.c8a30c","name":"This is our connection out to the IoT platform","info":"","x":1070,"y":160,"wires":[]},{"id":"f335f4ac.c509e8","type":"trigger","z":"7857bd0f.c8a30c","op1":"{\"Red\":255,\"Green\":0,\"Blue\":0}","op2":"{\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Red","x":540,"y":860,"wires":[["4013ca4.342c134"]]},{"id":"9f7af8a4.60c228","type":"trigger","z":"7857bd0f.c8a30c","op1":"{\"LEDAddress\":1,\"Red\":0,\"Green\":255,\"Blue\":0}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Green","x":550,"y":900,"wires":[[]]},{"id":"4d3776bd.20926","type":"trigger","z":"7857bd0f.c8a30c","op1":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":255}","op2":"{\"LEDAddress\":1,\"Red\":0,\"Green\":0,\"Blue\":0}","op1type":"json","op2type":"json","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Flash Blue","x":550,"y":940,"wires":[[]]},{"id":"409239fb.ac1c28","type":"comment","z":"7857bd0f.c8a30c","name":"Can you make an LED flash when a tweet about particular topic is sent?","info":"","x":430,"y":820,"wires":[]},{"id":"4013ca4.342c134","type":"link out","z":"7857bd0f.c8a30c","name":"","links":["d445e7f1.e5bd68"],"x":795,"y":900,"wires":[]},{"id":"2d069b9d.c73314","type":"debug","z":"7857bd0f.c8a30c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":980,"wires":[]},{"id":"77a7fb2b.89dd8c","type":"link in","z":"7857bd0f.c8a30c","name":"twitter lights","links":["1bfb308a.297ff7"],"x":240,"y":900,"wires":[["f335f4ac.c509e8","2d069b9d.c73314"]]}]
