Workshop3NodeREDFlow1
[{"id":"d5e03978.7f00d8","type":"ibmiot in","z":"7857bd0f.c8a30c","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IoTWorkshopDevice","applicationId":"","deviceType":"+","eventType":"status","commandType":"","format":"text","name":"IBM IoT In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":true,"allFormats":true,"qos":0,"x":1160,"y":500,"wires":[["aa949270.18f3c","9ddecb32.19eab"]]},{"id":"aa949270.18f3c","type":"debug","z":"7857bd0f.c8a30c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":500,"wires":[]},{"id":"3b84b718.c506f8","type":"switch","z":"7857bd0f.c8a30c","name":"Check for 0 or 1","property":"payload.D8Value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":640,"wires":[["11afe69d.992bb1"],["c8f69aa2.079d58"]]},{"id":"c8f69aa2.079d58","type":"template","z":"7857bd0f.c8a30c","name":"All Red","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{   \n    \"Red\":255,\n    \"Green\":0,\n    \"Blue\":0\n}","output":"str","x":1500,"y":660,"wires":[["b61ac78c.e98f5","1100d7bb.65f2b8"]]},{"id":"11afe69d.992bb1","type":"template","z":"7857bd0f.c8a30c","name":"All Blue","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{   \n    \"Red\":0,\n    \"Green\":0,\n    \"Blue\":255\n}","output":"str","x":1500,"y":620,"wires":[["b61ac78c.e98f5","1100d7bb.65f2b8"]]},{"id":"b61ac78c.e98f5","type":"ibmiot out","z":"7857bd0f.c8a30c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"IoTWorkshopDevice","deviceType":"wemos","eventCommandType":"command","format":"text","data":"{}","qos":0,"name":"IBM IoT Out","service":"registered","x":1670,"y":640,"wires":[]},{"id":"ac941850.5aa07","type":"comment","z":"7857bd0f.c8a30c","name":"Handle data publication events from our Thing","info":"","x":1280,"y":460,"wires":[]},{"id":"1100d7bb.65f2b8","type":"debug","z":"7857bd0f.c8a30c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1650,"y":560,"wires":[]},{"id":"9ddecb32.19eab","type":"change","z":"7857bd0f.c8a30c","name":"","rules":[{"t":"set","p":"format","pt":"msg","to":"text","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":580,"wires":[["3b84b718.c506f8"]]}]
